.logo{
    max-width: 40%;
}
.submit{
    font-weight: 500;
}
.wrapper input{
    background-color: #f8f7f7;
}
.wrapper input:focus{
    box-shadow: none;
}
.error{
    color: #ff0000;
    font-weight: bold;
    margin-left: 5px;
}
#loader{
    width: 80px;
    height: 30px;
    border-radius: 50%;
}
.password,.email{
    color:#ff0000;
}